.todo-style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.todo-style button {
 padding: 0px 8px !important;
 font-size: 25px !important;
 margin-right: 10px !important;
 box-shadow: none !important;
 cursor: pointer;
}
.todo-style button:hover{
    background: rgb(192, 3, 3) !important;
}